@model Evaluacion2.DAL.CantidadPremiosPorCompetidor 
@{
    ViewBag.Title = "AltaPremios";
}

<h2>Alta de Premios</h2><br />

                        <form action="GuardarPremio" method="post">
                            Año:
                            <input type="text" name="Año" /><br />
                            @Html.ValidationMessageFor(model => model.Año, "", new { @class = "text-danger" })<br /><br />
                            Cantidad de premios en ese año:
                            <input type="text" name="CantidadPremios" /><br />
                            @Html.ValidationMessageFor(model => model.CantidadPremios, "", new { @class = "text-danger" })<br /><br />
                            Competidor:
                            <select name="idCompetidor">
                                @foreach (Evaluacion2.DAL.Competidor c in ViewBag.competidores)
                                {

                                    <option value="@c.idCompetidor">@c.nombre</option>
                                }

                            </select><br />
                            @Html.ValidationMessageFor(model => model.idCompetidor, "", new { @class = "text-danger" })<br /><br />



                            <button type="submit">Crear</button>
                        </form>

