@model TPIntegrador_PWeb3.DAL.Necesidades

@{
    ViewBag.Title = "detallesNecesidad";
}

<h2>Detalles</h2>


<table class="table">
    <tr>
        <th>
            Nombre:
        </th>
        <th>
            Descripcion:
        </th>
        <th>
            FechaCreacion:
        </th>
        <th>
            Fecha de cierre:
        </th>
        <th>
            Telefono de Contacto:
        </th>

        <th>
            Foto:
        </th>
        <th>
            Estado:
        </th>
        <th>
            Valoracion:
        </th>
        <th>
            Creador:
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Model.Nombre
        </td>
        <td>
            @Model.Descripcion
        </td>
        <td>
            @Model.FechaCreacion
        </td>
        <td>
            @Model.FechaFin
        </td>
        <td>
            @Model.TelefonoContacto
        </td>

        <td>
            
            <img height="80" width="80" src="../img/@Model.Foto" />
        </td>
        <td>
            @Model.Estado
        </td>
        <td>
            @Model.Valoracion
        </td>
        <td>
            @Model.Usuarios.Nombre
        </td>

    </tr>


</table>
<br />

@if (@Model.Usuarios.Password != @TPIntegrador_PWeb3.Helper.SessionHelper.Nombre) { 
    <h3>¿Que opina de la necesidad?</h3>


<form action="../valorar" method="post">

    <input type="checkbox" value="1" name="megusta" />Me gusta
    <input type="checkbox" value="0" name="nomegusta" />No me gusta
    <input type="hidden" value="@Model.IdNecesidad" name="idNecesidad" />
    <button type="submit">Valorar</button>
</form>
<br />
<a href="../../Usuario/denunciar?idNecesidad=@Model.IdNecesidad">Denunciar</a>
<br />
<a href="../donar?idNecesidad=@Model.IdNecesidad">Donar</a>
<br />
}








